examples/n8n_flow.json
{
  "name": "FlowDex Incident Update",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 260]
    },
    {
      "parameters": {
        "apiBase": "http://flowdex:8787",
        "task": "incident_update",
        "userInput": "Draft a customer update for the latest incident.",
        "systemPrompt": "You are the on-call engineer responsible for clear, confident messaging.",
        "contextIds": "incident.runbook, comms.template",
        "tools": "post_incident_report",
        "model": "anthropic/claude-3-5-sonnet"
      },
      "id": "flowdexNode",
      "name": "FlowDex",
      "type": "custom.flowDex",
      "typeVersion": 1,
      "position": [500, 260]
    },
    {
      "parameters": {
        "channel": "#incident-comms",
        "text": "={{$json[\"flowdex\"][\"result\"][\"text\"]}}"
      },
      "id": "slackNode",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [760, 260]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "FlowDex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FlowDex": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
